<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JavaScript30 Samples</title>
    <meta name="description" content="JavaScript30 Samples">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Angelo's JavaScript30 Playground
      </h1>
    </header>

    <main>
      <p>
        <a href="https://javascript30.com">JavaScript30</a> is a fun course on building 30 things in 30 days with vanilla (ES6) JavaScript, created by <a href="https://wesbos.com/">Wes Bos</a>. As I go through each lesson, I'm going to add it to the list below.
      </p>
      <ul>
        <li><a href="/day1">Day 1: JavaScript Drum Kit</a></li>
        <li><a href="/day2">Day 2: JS + CSS Clock</a></li>
        <li><a href="/day3">Day 3: Scoped CSS Variables and JS</a></li>
        <li><a href="/day4">Day 4: Array Cardio Day 1</a></li>
        <li><a href="/day5">Day 5: Flex Panels</a></li>
        <li><a href="/day6">Day 6: Type Ahead</a></li>
        <li><a href="/day7">Day 7: Array Cardio Day 2</a></li>
      </ul>
    </main>

    <footer>
      Made in <a href="https://glitch.com">Glitch</a> (natch).
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
